.nav-wrapper {
    background-color: #00BCD4;
    padding-left: 20px;
    margin-top: 20px;
}

.myImg{
    height: 40px;
    margin-top: 10px;
}

.btn {
    background-color: #fa983a;
}

.form {
    /* background-color: azure; */
    margin-top: 40px;
}

